body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#pokemon-list-container {
    background-color: rgb(181, 16, 16);
    margin: 5px;
    border-right: 1px solid salmon;
}

#pokemon-list {
    background-color: rgb(181, 16, 16);
}

#ul-list {
    scrollbar-width: thin;
    scrollbar-color: salmon #f1f1f1;
    border-radius: 5px;
}

#ul-list li {
    background-color: indianred;
}

.list-group-item:hover {
    transform: translateX(5px);
}

#ul-list .list-group-item.active {
  background-color: rgb(181, 16, 16);     /* negro */
  border: none;
  color: #fff;
}


#pokemon-details {
    border-radius: 5px;
    border: 3px solid firebrick;
}


#pokemon-name {
    font-family: "Bangers", system-ui;
}


.type-badge {
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;
}


#line {
    border: 2px solid orangered;
    margin: 3%;
}



#evolution-chain {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    overflow-x: auto; 
    white-space: nowrap; 
    padding: 10px 0;
}


#evolution-chain div {
    display: inline-block;
}


/* Colores para tipos de Pokémon */
.type-normal {
    background-color: #A8A878;
}

.type-fire {
    background-color: #F08030;
}

.type-water {
    background-color: #6890F0;
}

.type-electric {
    background-color: #F8D030;
}

.type-grass {
    background-color: #78C850;
}

.type-ice {
    background-color: #98D8D8;
}

.type-fighting {
    background-color: #C03028;
}

.type-poison {
    background-color: #A040A0;
}

.type-ground {
    background-color: #E0C068;
}

.type-flying {
    background-color: #A890F0;
}

.type-psychic {
    background-color: #F85888;
}

.type-bug {
    background-color: #A8B820;
}

.type-rock {
    background-color: #B8A038;
}

.type-ghost {
    background-color: #705898;
}

.type-dragon {
    background-color: #7038F8;
}

.type-dark {
    background-color: #705848;
}

.type-steel {
    background-color: #B8B8D0;
}

.type-fairy {
    background-color: #EE99AC;
}